#side_menu
  #side_menu_top
  #side_menu_links
    = link_to "<span class=\"side_menu_link\">Home</span>", :action => :index, :controller => :main
    = link_to "<span class=\"side_menu_link\">About</span>", :action => :index, :controller => :about
    = link_to "<span class=\"side_menu_link\">Donate</span>", :action => :index, :controller => :donation
    = link_to "<span class=\"side_menu_link\">Articles</span>", :action => :index, :controller => :articles
    = link_to "<span class=\"side_menu_link\">News</span>", :action => :index, :controller => :news
    = link_to "<span class=\"side_menu_link\">Contact</span>", :action => :index, :controller => :contact
    = link_to "<span class=\"side_menu_link\">Newsletter</span>", :action => :index, :controller => :newsletter
  #side_menu_bottom
